table {
	border: 1px solid #E2E8F0;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-spacing: 0px;
	thead {
		th {
			border-right: 1px solid #E2E8F0;
			padding: 12px;
			background-color: #F1F5F9;
			color: #64748B;
			font-size: 13px;
			font-weight: 600;
			line-height: 18px;
			text-align: left;
		}
	}
	tr {
		&:hover {
			background-color: #f9f9f9;
		}
	}
	tbody {
		td {
			border: 1px solid #E2E8F0;
			border-bottom: 0px;
			border-left: 0px;
			padding: 10px 12px;
			color: #334155;
			font-size: 13px;
			font-weight: 600;
			text-align: left;
		}
	}
}