.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    gap: 20px;
    height: 80vh;
}

.homeContainer .tableWrapper {
    height: 230px;
    width: 60%;
    overflow: scroll;
}

.homeContainer .tableWrapper table {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.homeContainer .paginationContainer {
    width: 60%;
}