.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    gap: 20px;
    height: 80vh;
}

.homeContainer .tableWrapper {
    height: 230px;
    width: 65%;
    overflow: scroll;
}

.homeContainer .tableWrapper table {
    width: 100%;
}

.homeContainer .paginationContainer {
    width: 65%;
}

@media (max-width: 767px) {
    .homeContainer {
        margin: 10px;
    }
    .homeContainer .tableWrapper {
        width: 100%;
    }
    .homeContainer .paginationContainer {
        width: 100%;
        flex-direction: column;
    }
}